<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <p>
            A contact manager is a software program that enables users to easily store and find contact information,
            such as names, addresses, and telephone numbers.
        </p>
        <p>They are contact-centric databases that provide a fully
            integrated approach to tracking all information and communication activities linked to contacts.
        </p>
        <button class="btn bg-primary btn-lg text-white">Get Start</button>
    </div>
</section>
</body>
</html>